* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

fieldset {
    border-radius: 10px;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
}

form {
    border-radius: 25%;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    border-radius: 10px;
    background-color: white;
    font-weight: bolder;
    font-size: 150%;
    text-align: center;
    width: 100%;
}

.description {
    text-align: center;
}

select:focus {
outline: none;
}

.submit-btn{
  color: #fff; 
  text-decoration: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em; 
  outline: none; 
  border: none;
  margin-bottom: 10px;
}

.submit-btn:hover {
 background: rgb(232,95,76); 
}

.submit-btn:active { 
	background: rgb(152,15,0); 
} 

.wrapper {
    flex-direction: column;
    display: flex;
    background: linear-gradient(to top left, purple, crimson, orangered, gold);
}	

.content {
    flex: 1 0 auto;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    height: 50px;
    background-color: gray;
    flex: 0 0 auto;
}

.footer {
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    background-color: gray;
    flex: 0 0 auto;
}

.submit-btn {
    margin-top: 20px;
}

.choise:after{
	content: "=";
}
p{
    margin-top: 5px;
    text-align: center;
}